{% extends "home/basic.html.twig" %}
	
	{% block body %}


        <p class="mt-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id facilisis neque. Maecenas sit amet
            commodo est. Praesent tincidunt metus a semper viverra. Fusce mattis, justo sed ultrices eleifend, metus
            tellus sagittis lacus, venenatis sagittis neque nulla at nibh. Donec consequat risus sed ante ultrices, a
            consequat ipsum viverra. Aliquam aliquet, nulla id pharetra sodales, risus mauris mattis arcu, quis
            tristique magna diam eu ante. Nam eget lacinia diam. Donec ornare neque eu massa viverra, sed consectetur mi
            pharetra. Nulla aliquet fringilla justo, sed rhoncus lorem elementum sed. Quisque commodo tortor mi, eu
            egestas elit posuere sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Class aptent taciti
            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam interdum metus consequat
            tellus malesuada, a varius leo vehicula. Pellentesque sapien justo, ornare id aliquet eu, aliquam sed
            lectus.
        </p>

        <p>
            Sed tempus neque ut elit convallis, quis cursus purus congue. Etiam ut ipsum sed sem gravida posuere nec a
            ex. Praesent sed arcu eget nibh sodales venenatis nec nec libero. Sed non feugiat ex, ut sodales dolor.
            Aliquam nec ante vel ex cursus bibendum. Donec in risus ut justo semper rhoncus. Sed quis pharetra ex.
        </p>

        <img class="img-fluid mx-auto d-block" src="{{ asset('apteka.jpg') }}" alt="Google Map of Albany, NY">

        <p>
            Vestibulum non venenatis arcu. Curabitur facilisis, dui eu hendrerit mattis, ante lorem laoreet sapien, sed
            sollicitudin turpis augue in arcu. Curabitur molestie erat sapien, eu blandit arcu viverra vitae. Phasellus
            tristique nibh ac purus faucibus, sit amet interdum sapien viverra. Phasellus ultricies hendrerit dolor
            vitae rutrum. In sed gravida nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
            cubilia Curae; Nam erat nibh, facilisis ac gravida nec, semper ac leo. Suspendisse molestie, quam vitae
            tincidunt ultrices, libero est viverra elit, sed sodales leo diam mollis arcu. Nunc interdum id nisi in
            euismod. Nullam ultrices, mauris eget mollis gravida, ex tellus sodales risus, id malesuada enim lorem eu
            elit. Nullam porttitor ultrices iaculis. Aliquam erat volutpat. Etiam vel enim vehicula, accumsan orci ut,
            efficitur tortor. Pellentesque arcu risus, sollicitudin scelerisque pretium et, lobortis mollis ipsum. Nunc
            vitae nibh sit amet augue imperdiet viverra.
        </p>

        <p>
            Pellentesque id ultricies lacus. Duis neque libero, aliquet ut elit a, fermentum cursus sem. Quisque vitae
            sem sit amet nulla venenatis blandit eu sit amet sem. Donec at dictum enim. Vivamus faucibus lorem in ante
            consectetur auctor. In sollicitudin vitae lacus eu hendrerit. Suspendisse pulvinar, lorem eu dictum auctor,
            lorem sem posuere arcu, eget pellentesque leo orci et quam. Quisque et congue sapien, at dapibus risus. Duis
            euismod sapien augue, non maximus diam consequat at.
        </p>

        <div id="crew" class="row">
            <div class="col-md-3 col-sm-6"><img class="img-fluid" src="{{ asset('nosacz1.jpg') }}" alt="1"/></div>
            <div class="col-md-3 col-sm-6"><img class="img-fluid" src="{{ asset('nosacz2.jpg') }}" alt="2"/></div>
            <div class="col-md-3 col-sm-6"><img class="img-fluid" src="{{ asset('nosacz3.jpg') }}" alt="3"/></div>
            <div class="col-md-3 col-sm-6"><img class="img-fluid" src="{{ asset('nosacz4.jpg') }}" alt="4"/></div>
        </div>

    {% endblock %}
	
	{% block style %}

    {% endblock %}
    