{% extends "management/basic.html.twig" %}
	
	{% block body %}
	  
	  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody> {% set i = 1 %}
	{% for prod in product %} 
       <tr>
        <td>{{ prod.id }} {{ i }}</td>
        <td>{{ prod.name }}</td>
        <td>{{ prod.description }}</td>
		<td>{{ prod.price }}</td>
		<td>{{ prod.quantity }}</td>
		<td><a href="/modyfikuj/{{ prod.id }}">Modyfikuj</a></td>
      </tr> {% set i = i+1 %}
    {% endfor %}
    </tbody>
  </table>

	{% endblock %}
    